WCF/DesktopClient/DesktopClient/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10621/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetNotesResult" nillable="true" type="q1:ArrayOfNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noteName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginningDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNoteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noteId" type="xs:int" />
        <xs:element minOccurs="0" name="noteName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginningDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNoteState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNoteStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>